
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Danh sách tỉnh thành</h1>

<button type="button" class="btn btn-outline-primary" onclick="add()">Thêm</button>


<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50px;">STT</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 200px;">Mã tỉnh thành</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 408px;">Tên tỉnh thành</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 250px;">Mô tả</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 250px;">Trạng thái</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 200px;">Thao tác</th>
                                </tr>
                            </thead>

                            <tbody id="list"></tbody>
                        </table>
                    </div>
                </div><div class="row" style="cursor:pointer">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination" id="pagination">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--Modal show-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby=data-toggle ="modal" data-target="#exampleModal" "exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm tỉnh thành</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-main">
                    <div class="form-group">
                        <label for="province_code" class="col-form-label">Mã tỉnh thành:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="province_code" name="province_code" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="province_name" class="col-form-label">Tên tỉnh thành:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="province_name" name="province_name" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Mô tả:</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="form-group">
                        <label for="active" class="col-form-label">Trạng thái:<span style="color:red">(*)</span></label>
                        <select id="active" name="active" required>
                            <option value="1">Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <input type="hidden" class="form-control" id="province_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa </h4>
            </div>
            <div class="modal-body">

                <input type="hidden" class="form-control" id="province_id_delete">
                <div class="row">
                    <div class="col-md-12"><label class="label label-danger">Bạn có muốn xóa tỉnh thành trên không?</label></div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="cmdxoa" onclick="SaveDelete()">Delete</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!--End modal-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    var start = 1;
    var length = 10;
    var totalRecord = 0;


    var object = {
        Province_Name: ""
    }
    var request = {
        start: start,
        length: length,
        model: object
    }


    $(document).ready(function () {

        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.province_Code + "</td><td>" + val.province_Name + "</td>\
                <td>"+ val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")


                })
                loadPagination(totalRecord);
                let PElement = document.querySelector("li.item");
                PElement.classList.add("active");
                if (totalRecord > 0) {

                }
            }
        })

    })

    function loadData(start, length, object) {
        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.province_Code + "</td><td>" + val.province_Name + "</td>\
                <td>"+ val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")


                })

            }
        })
    }

    function loadPagination(total) {
        total = Math.ceil(total / length);
        $('#pagination').html("");
        $('#pagination').append("<li class='paginate_button page-item previous disabled' id='dataTable_previous'><a class='page-link'>Trước</a></li>");
        for (let i = 1; i <= total; i++) {
            $('#pagination').append(`<li class="paginate_button page-item item " value='${i}'><a class='page-link'>${i}</a></li>`)
        }
        $('#pagination').append(`<li class="paginate_button page-item next" id="dataTable_next"><a class='page-link'>Sau</a></li>`)
        var PaginationElement = document.querySelectorAll("li.item");
        $('.page-item.item').click(function () {

            PaginationElement.forEach(function (ele) {
                ele.classList.remove("active");
                ele.classList.remove("disabled");

            })
            this.classList.add("active");
            start = this.value;
            loadData(start, length, object);
        })
        $('.previous').click(function () {
            if (start > 1) {

                start--;
                loadData(start, length, object);

                this.classList.remove("disabled");
                PaginationElement.forEach(function (ele) {
                    ele.classList.remove("active");
                    ele.classList.remove("disabled");
                    if (ele.value == start) ele.classList.add("active");

                })
            }
            else this.classList.add("disabled");
        })
        $('.next').click(function () {

            if (start < total) {

                start++;
                loadData(start, length, object);

                this.classList.remove("disabled");
                PaginationElement.forEach(function (ele) {
                    ele.classList.remove("active");
                    ele.classList.remove("disabled");
                    if (ele.value == start) ele.classList.add("active");

                })
            }
            else this.classList.add("disabled");
        })
    }


    function Save() {

        var formData = new FormData();
        let id = $("#province_id").val();
        let province_code = $("#province_code").val();
        let province_name = $("#province_name").val();
        let description = $("#description").val();
        let active = $("#active").val();
        let ob = {
            Id: id == '' ? -1 : id,
            Province_Name: province_name,
            Province_Code: province_code,
            Description: description,
            Active: active
        }

        formData.append('model', JSON.stringify(ob));

        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/CreateOrUpdate",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {

                    alert(data.messege);
                    $("#exampleModal").modal('hide');
                    loadData(start, length, object);


            }
        })
    }
    function check() {
        var inputs = document.querySelectorAll("#form-main > div > .form-control");
        inputs.forEach(function (val) {
            val.onblur = function () {
                if (val.value == '' || val.value === null) {
                    val.parentNode.children[3].innerHTML = "Vui lòng nhập trường này";
                    val.parentNode.children[3].style.color = "red";
                }

            }
            val.oninput = function () {
                    val.parentNode.children[3].innerHTML = "";
            }
        })
    }
    function add() {
        $("#exampleModal").modal("show");
        $("#province_id").val("-1");
        $("#province_code").val("");
        $("#province_name").val("");
        $("#description").val("");
        $("#active").val("");
        check();
    }

    function Edit(id) {
        var formData = new FormData();

        let ob = {
            Id: id == '' ? -1 : id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#exampleModalLabel").html("Sửa tỉnh thành");
                $("#province_id").val(data.id);
                $("#province_code").val(data.province_Code);
                $("#province_name").val(data.province_Name);
                $("#description").val(data.description);
                $("#active").val(data.active);
                $("#exampleModal").modal("show");

            }

        })
        check();
    }

    function Delete(id) {
        var formData = new FormData();

        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#province_id_delete").val(data.id);
                $("#delete").modal("show");
            }

        })

    }

    function SaveDelete(){
        var formData = new FormData();
        let id = $("#province_id_delete").val();
        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/province/Delete",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data.messege);
                $("#delete").hide();
                loadData(start, length, object);
            }

        })
    }

</script>


