@using Model;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}
@{
    var listGroupPage = ViewData["GroupPage"] as List<GroupPageModel>;
}
<h1 class="h3 mb-2 text-gray-800">Danh sách trang</h1>

<div>
    <button type="button" class="btn btn-outline-primary" onclick="add()" style="margin-bottom:5px">Thêm</button>

    <label style="float:right">
        Hiển thị
        <select id="show-entries" onchange="getval()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="-1">All</option>
        </select> bản ghi
    </label>
</div>


<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc"  >STT</th>
                                    <th class="sorting" >Mã trang</th>
                                    <th class="sorting" >Tên trang</th>
                                    <th class="sorting" >Nhóm trang</th>
                                    <th class="sorting" >Public</th>
                                    <th class="sorting" >Mô tả</th>
                                    <th class="sorting" >Trạng thái</th>
                                    <th class="sorting" >Thao tác</th>
                                </tr>
                            </thead>

                            <tbody id="list"></tbody>
                        </table>
                    </div>
                </div><div class="row" style="cursor:pointer">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination" id="pagination">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby=data-toggle ="modal" data-target="#exampleModal" "exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm trang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-main">
                    <div class="form-group">
                        <label for="page_code" class="col-form-label">Mã trang:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="page_code" name="page_code" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="page_name" class="col-form-label">Tên trang:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="page_name" name="page_name" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="id_group_page" class="col-form-label">Nhóm trang:<span style="color:red">(*)</span></label>
                        <select id="id_group_page" name="id_group_page" required>
                            @foreach (var item in listGroupPage)
                            {
                                <option value="@item.Id" selected id="name_group">@item.GroupPage_Name</option>
                            }
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <div class="form-group">
                        <label for="is_public" class="col-form-label">Public:<span style="color:red">(*)</span></label>
                        <select id="is_public" name="is_public" required>
                            <option value="1" selected>Công khai</option>
                            <option value="0">Ẩn</option>
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Mô tả:</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="form-group">
                        <label for="active" class="col-form-label">Trạng thái:<span style="color:red">(*)</span></label>
                        <select id="active" name="active" required>
                            <option value="1" selected>Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <input type="hidden" class="form-control" id="page_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa </h4>
            </div>
            <div class="modal-body">

                <input type="hidden" class="form-control" id="page_id_delete">
                <div class="row">
                    <div class="col-md-12"><label class="label label-danger">Bạn có muốn xóa trang trên không?</label></div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="cmdxoa" onclick="SaveDelete()">Delete</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!--End modal-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    var entries = document.getElementById('show-entries');
    var length = entries.value;
    var start = 1;
    var totalRecord = 0;


    var object = {
        Page_Name: ""
    }
    var request = {
        start: start,
        length: length,
        model: object
    }


    $(document).ready(function () {

        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let public = val.is_public == 1 ? "Công khai" : "Ẩn";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.page_Code + "</td><td>" + val.page_Name + "</td>\
                <td>"+ val.group_Page_Name + "</td><td>" + public + "</td><td>" + val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")
                })
                loadPagination(totalRecord);
                let PElement = document.querySelector("li.item");
                PElement.classList.add("active");

            }
        })

    })

    function loadData(start, length, object) {
        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let public = val.is_public == 1 ? "Công khai" : "Ẩn";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.page_Code + "</td><td>" + val.page_Name + "</td>\
                <td>"+ val.group_Page_Name + "</td><td>" + public + "</td><td>" + val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")
                })

            }
        })
    }


    function Save() {

        var formData = new FormData();
        let id = $("#page_id").val();
        let page_code = $("#page_code").val();
        let page_name = $("#page_name").val();
        let id_group_page = $("#id_group_page").val();
        let is_public = $("#is_public").val();
        let description = $("#description").val();
        let active = $("#active").val();
        let ob = {
            Id: id == '' ? -1 : id,
            page_Name: page_name,
            page_Code: page_code,
            id_group_page: id_group_page,
            Is_public: is_public,
            Description: description,
            Active: active
        }

        formData.append('model', JSON.stringify(ob));

        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/CreateOrUpdate",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data.id);
                alert(data.messege);
                $("#exampleModal").modal('hide');
                loadData(start, length, object);


            }
        })
    }

    function add() {
        $("#exampleModal").modal("show");
        $("#page_id").val("-1");
        $("#page_code").val("");
        $("#page_name").val("");
        $("#id_group_page").val("");
        $("#is_public").val("");
        $("#description").val("");
        $("#active").val("");
        check();
    }

    function Edit(id) {
        var formData = new FormData();

        let ob = {
            Id: id == '' ? -1 : id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#exampleModalLabel").html("Sửa nhóm trang");
                $("#page_id").val(data.id);
                $("#page_code").val(data.page_Code);
                $("#page_name").val(data.page_Name);
                $("#name_group").val(data.group_Page_Name);
                $("#is_public").val(data.is_public);
                $("#description").val(data.description);
                $("#active").val(data.active);
                $("#exampleModal").modal("show");
            }

        })
        check();
    }

    function Delete(id) {
        var formData = new FormData();

        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#page_id_delete").val(data.id);
                $("#delete").modal("show");
            }

        })

    }

    function SaveDelete() {
        var formData = new FormData();
        let id = $("#page_id_delete").val();
        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/page/Delete",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data.messege);
                $("#delete").hide();
                loadData(start, length, object);
            }

        })
    }

    function getval() {
        length = $('#show-entries').val();
        if (length == -1) {
            length = totalRecords;
            loadData(start, length, object);
        }
        loadData(start, length, object);
        loadPagination(totalRecord);
        let PElement = document.querySelector("li.item");
        PElement.classList.add("active");

    }
</script>