
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Shared/_Layout.cshtml";
}

<h1 class="h3 mb-2 text-gray-800">Danh sách nhóm trang</h1>

<button type="button" class="btn btn-outline-primary" onclick="add()">Thêm</button>


<!-- DataTales Example -->
<div class="card shadow mb-4">

    <div class="card-body">
        <div class="table-responsive">
            <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50px;">STT</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 200px;">Mã Group</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 408px;">Tên Group</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 100px;">Public</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 250px;">Mô tả</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 250px;">Trạng thái</th>
                                    <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 200px;">Thao tác</th>
                                </tr>
                            </thead>

                            <tbody id="list"></tbody>
                        </table>
                    </div>
                </div><div class="row" style="cursor:pointer">
                    <div class="col-sm-12 col-md-5"></div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                            <ul class="pagination" id="pagination">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!--Modal show-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby=data-toggle ="modal" data-target="#exampleModal" "exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm nhóm trang</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form-main">
                    <div class="form-group">
                        <label for="grouppage_code" class="col-form-label">Mã group:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="grouppage_code" name="grouppage_code" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="grouppage_name" class="col-form-label">Tên nhóm:<span style="color:red">(*)</span></label>
                        <input type="text" class="form-control" id="grouppage_name" name="grouppage_name" required>
                        <br>
                        <span class="form-message"></span>
                    </div>
                    <div class="form-group">
                        <label for="is_public" class="col-form-label">Public:<span style="color:red">(*)</span></label>
                        <select id="is_public" name="is_public" required>
                            <option value="1" selected>Công khai</option>
                            <option value="0">Ẩn</option>
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Mô tả:</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="form-group">
                        <label for="active" class="col-form-label">Trạng thái:<span style="color:red">(*)</span></label>
                        <select id="active" name="active" required>
                            <option value="1" selected>Hoạt động</option>
                            <option value="0">Không hoạt động</option>
                        </select>
                        <br>
                        <span class="form-message"></span>

                    </div>
                    <input type="hidden" class="form-control" id="grouppage_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="delete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Xóa </h4>
            </div>
            <div class="modal-body">

                <input type="hidden" class="form-control" id="grouppage_id_delete">
                <div class="row">
                    <div class="col-md-12"><label class="label label-danger">Bạn có muốn xóa nhóm trang trên không?</label></div>

                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" id="cmdxoa" onclick="SaveDelete()">Delete</button>
                <button class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


<!--End modal-->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script>
    var start = 1;
    var length = 10;
    var totalRecord = 0;


    var object = {
        GroupPage_Name: ""
    }
    var request = {
        start: start,
        length: length,
        model: object
    }


    $(document).ready(function () {

        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let public = val.is_public == 1 ? "Công khai" : "Ẩn";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.groupPage_Code + "</td><td>" + val.groupPage_Name + "</td>\
                <td>"+ public + "</td><td>" + val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")
                })
                loadPagination(totalRecord);
                let PElement = document.querySelector("li.item");
                PElement.classList.add("active");
                if (totalRecord > 0) {

                }
            }
        })

    })

    function loadData(start, length, object) {
        var formData = new FormData();
        formData.append('start', start);
        formData.append('length', length);
        formData.append('model', JSON.stringify(object));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/getdata",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#list").html("");
                totalRecord = data.totalRow;
                let count = (start - 1) * length + 1;
                $.each(data.data, function (i, val) {
                    let act = val.active == 1 ? "Hoạt động" : "Không hoạt động";
                    let public = val.is_public == 1 ? "Công khai" : "Ẩn";
                    let type = val.active == 1 ? 'badge-success' : 'badge-danger';
                    $("#list").append("<tr><td>" + (i + count) + "</td><td>" + val.groupPage_Code + "</td><td>" + val.groupPage_Name + "</td>\
                <td>"+ public + "</td><td>" + val.description + "</td><td> <span class='badge badge-pill " + type + "'> " + act + "</span></td ><td>\
                <button  class='btn btn-outline-warning' onclick='Edit(" + val.id + ")'>Sửa</button>\
                <button  class='btn btn-outline-danger' onclick='Delete(" + val.id + ")'>Xóa</button></td></tr > ")
                })

            }
        })
    }

    function Save() {

        var formData = new FormData();
        let id = $("#grouppage_id").val();
        let grouppage_code = $("#grouppage_code").val();
        let grouppage_name = $("#grouppage_name").val();
        let is_public = $("#is_public").val();
        let description = $("#description").val();
        let active = $("#active").val();
        let ob = {
            Id: id == '' ? -1 : id,
            grouppage_Name: grouppage_name,
            grouppage_Code: grouppage_code,
            Is_public: is_public,
            Description: description,
            Active: active
        }

        formData.append('model', JSON.stringify(ob));

        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/CreateOrUpdate",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                console.log(data.id);
                alert(data.messege);
                $("#exampleModal").modal('hide');
                loadData(start, length, object);


            }
        })
    }

    function add() {
        $("#exampleModal").modal("show");
        $("#grouppage_id").val("-1");
        $("#grouppage_code").val("");
        $("#grouppage_name").val("");
        $("#is_public").val("");
        $("#description").val("");
        $("#active").val("");
        check();
    }

    function Edit(id) {
        var formData = new FormData();

        let ob = {
            Id: id == '' ? -1 : id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#exampleModalLabel").html("Sửa nhóm trang");
                $("#grouppage_id").val(data.id);
                $("#grouppage_code").val(data.groupPage_Code);
                $("#grouppage_name").val(data.groupPage_Name);
                $("#is_public").val(data.is_public);
                $("#description").val(data.description);
                $("#active").val(data.active);
                $("#exampleModal").modal("show");

            }

        })
        check();
    }

    function Delete(id) {
        var formData = new FormData();

        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/GetByID",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                $("#grouppage_id_delete").val(data.id);
                $("#delete").modal("show");
            }

        })

    }

    function SaveDelete() {
        var formData = new FormData();
        let id = $("#grouppage_id_delete").val();
        let ob = {
            Id: id
        }
        formData.append('model', JSON.stringify(ob));
        $.ajax({
            type: "POST",
            datatype: "json",
            data: formData,
            url: "https://localhost:44329/admin/grouppage/Delete",
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            success: function (data) {
                alert(data.messege);
                $("#delete").hide();
                loadData(start, length, object);
            }

        })
    }


</script>

